.open {
    background: rgb(31 41 55);
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    transition: all ease-in-out 0.5s;
}
.open a #title {
    white-space: nowrap;
}
.close h1 {
    white-space: nowrap;
    opacity: 0;
    transition: all ease-in-out 0.5s; 
}
.close {
    background: rgb(31 41 55);
    height: 100%;
    width: 90px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
    transition: all ease-in-out 0.5s;

}
.close a #title {
    opacity: 0;
    transition: all ease-in-out 0.5s;

}